p {
    color: red;
}

h2 {
    color: purple;
    text-decoration: underline;
}

.projects {
    color: pink;

}

#services {
    color: blue;
}

#contact {
    color: orange;
}

body {
    text-align: center;
}

ul {
    list-style: none;

}

nav {
    display: flex;
    justify-content: center;
    align-content: center;

    nav ul {
        display: flex;
        gap: 20px;

        main {
            display:
                flex- wrap;
            gap: 20px;
            padding: 50px;

        }

        main section {
            flex: 1;
            padding: 20px;
            min-width: 300px;
            border: 1px solid #black;
            padding: 20px;
        }


    }

}